header {
    background-color: cornflowerblue;
    background-image: url(img/pattern.png);
    background-size: 390px;
    display: flex;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

table{
    border-spacing: 0px;
    height: 80px;
}
th {
    background-color: cornflowerblue;
    color: white;
    border: 0px;
    text-align: justify;
}

p {
    border: 800px;
    margin-right: 450px;
    margin-bottom: 1px;
}

.booleaner {
    height: 200px;
}

#scritto-da {
    font-size: 18px;
    color: darkgrey;
}

#autore {
    color: deepskyblue;
    font-size: 18px;
}

#data {
    color: darkgray;
}


#titolo {
    margin-bottom: 1px
}

.graph {
    background-image: url(img/graph.jpg);
    background-size: auto;
    display: inline-block;
    margin-top: -10px;
    margin-right: -10px;
    color: white;
    width: 311px;
    height: 207px;
    margin-bottom: 10px;
    
}
.monitor {
    background-image: url(img/monitor.jpg);
    background-size: 311px;
    display: inline-block;
    margin-top: -10px;
    margin-right: -10px;
    color: white;
    height: 207px;
    width: 311px;
}
/* main {
    margin: 5%;
} */